.title{
  font-size: 0.12rem;
  color: #0D5EAE;
}
.list_result{
  width: 80%;
  float: left;
}
.list_result_li{
  border-bottom: 1px solid #DCDFE6;
  overflow: hidden;
}
.list_result{
  line-height: 0.12rem;
}