<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>招标信息模板配置</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/index.css?version=1.0.0">
    <link rel="stylesheet" href="css/v2.css?version=1.0.0">
    <!-- 移动端适配 -->
    <script>
        var html = document.querySelector('html');
        changeRem();
        window.addEventListener('resize', changeRem);
        function changeRem() {
            var width = html.getBoundingClientRect().width;
            html.style.fontSize = width / 10 + 'px';
        }
    </script>
</head>

<body>
<div id="wrap">
  <el-row :gutter="15">
    <el-col :span="8">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span class="title">列表配置</span>
        </div>
        <!-- 表单 -->
        <el-form ref="form1" :model="form1" label-width="140px" :rules="rules" size="medium">
          <el-form-item label="模板Id">
            <el-input v-model="form1.templateId"></el-input>
          </el-form-item>
          <el-form-item label="gldId">
            <el-input v-model="form1.gldId"></el-input>
          </el-form-item>
          <el-form-item label="模板URL">
            <el-input v-model="form1.tUrl"></el-input>
          </el-form-item>
          <el-form-item label="HOST">
            <el-input v-model="form1.tHost"></el-input>
          </el-form-item>
          <el-form-item label="Https ssL协议">
            <el-select v-model="form1.lHttpsSsl" placeholder="请选择">
              <el-option label="SSLv3" value="SSLv3"></el-option>
              <el-option label="TLSv1" value="TLSv1"></el-option>
              <el-option label="TLSv1.2" value="TLSv1.2"></el-option>
              <el-option label="TLSv1.1" value="TLSv1.1"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="列表根路径">
            <el-radio-group v-model="form1.isBasePath">
              <el-radio label="是" value="1"></el-radio>
              <el-radio label="否" value="0"></el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="是否爬取默认页">
            <el-radio-group v-model="form1.tHomePageCrawlerStatus">
              <el-radio label="是" value="0"></el-radio>
              <el-radio label="否" value="1"></el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="htmlUnit爬取">
            <el-select v-model="form1.lHtmlUnitCrawlerStatus" placeholder="请选择">
              <el-option label="否" value="0"></el-option>
              <el-option label="是" value="1"></el-option>
              <el-option label="ajax" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-divider></el-divider>
          <el-form-item label="列表内容选择器" prop="lContentSelector">
            <el-input v-model="form1.lContentSelector"></el-input>
          </el-form-item>
          <el-form-item label="列表内容正则匹配">
            <el-radio-group v-model="form1.lContentRegType">
              <el-radio label="是" value="1"></el-radio>
              <el-radio label="否" value="0"></el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="数据处理类型">
            <el-select v-model="form1.lDataType" placeholder="请选择">
              <el-option label="HTML" value="HTML"></el-option>
              <el-option label="JS" value="JS"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="列表内容正则表达式">
            <el-input v-model="form1.lListReg"></el-input>
          </el-form-item>
          <el-form-item label="JS对象">
            <el-select v-model="form1.lJsObject" placeholder="请选择">
              <el-option label="ARRAY" value="ARRAY"></el-option>
              <el-option label="OBJECT" value="OBJECT"></el-option>
            </el-select>
          </el-form-item>
          <el-divider></el-divider>
          <el-form-item label="页面链接选择器" prop="lLinkSelector">
            <el-input v-model="form1.lLinkSelector"></el-input>
          </el-form-item>
          <el-form-item label="链接url获取的类型">
            <el-select v-model="form1.lLinkType" placeholder="请选择">
              <el-option label="属性获取" value="1"></el-option>
              <el-option label="文本获取" value="2"></el-option>
              <el-option label="html获取" value="3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="获取链接url对应的属性" >
            <el-input v-model="form1.lLinkAttr"></el-input>
          </el-form-item>
          <el-form-item label="链接内容过滤器类型">
            <el-select v-model="form1.region" placeholder="请选择">
              <el-option label="无" value="0"></el-option>
              <el-option label="内容替换" value="1"></el-option>
              <el-option label="正则表达式" value="2"></el-option>
              <el-option label="截取掉后面字符" value="3"></el-option>
              <el-option label="截取掉前面字符" value="4"></el-option>
              <el-option label="url参数格式化" value="5"></el-option>
              <el-option label="正则匹配替换" value="6"></el-option>
              <el-option label="正则匹配替换1" value="61"></el-option>
              <el-option label="时间戳转换为字符串" value="7"></el-option>
              <el-option label="列表爬取内容替换" value="8"></el-option>
              <el-option label="内容前面添加" value="9"></el-option>
              <el-option label="内容后面添加" value="10"></el-option>
              <el-option label="字符前和后面保留($$隔开)" value="11"></el-option>
              <el-option label="字符前和后面替换(~~隔开)" value="12"></el-option>
              <el-option label="内容替换，并且url日期格式化" value="13"></el-option>
              <el-option label="正则替换，并且url日期格式化" value="14"></el-option>
              <el-option label="字符前和后面添加(@@隔开)" value="15"></el-option>
              <el-option label="字符后面添加发布日期" value="16"></el-option>
              <el-option label="保留字符中间内容(￥￥隔开)" value="19"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="链接内容过滤器" >
            <el-input v-model="form1.url"  placeholder="请求过滤表达式"></el-input>
          </el-form-item>
          <el-divider></el-divider>
          <el-form-item label="列表标题选择器" prop="lContentSelector">
            <el-input v-model="form1.lContentSelector"></el-input>
          </el-form-item>
          <el-form-item label="列表标题获取的类型">
            <el-select v-model="form1.region" placeholder="请选择">
              <el-option label="属性获取" value="1"></el-option>
              <el-option label="文本获取" value="2"></el-option>
              <el-option label="html获取" value="3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="列表标题对应的属性" >
            <el-input v-model="form1.url"></el-input>
          </el-form-item>
          <el-form-item label="列表标题过滤器类型">
            <el-select v-model="form1.region" placeholder="请选择">
              <el-option label="无" value="0"></el-option>
              <el-option label="内容替换" value="1"></el-option>
              <el-option label="正则表达式" value="2"></el-option>
              <el-option label="截取掉后面字符" value="3"></el-option>
              <el-option label="截取掉前面字符" value="4"></el-option>
              <el-option label="url参数格式化" value="5"></el-option>
              <el-option label="正则匹配替换" value="6"></el-option>
              <el-option label="时间戳转换为字符串" value="7"></el-option>
              <el-option label="列表爬取内容替换" value="8"></el-option>
              <el-option label="内容前面添加" value="9"></el-option>
              <el-option label="内容后面添加" value="10"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="列表标题过滤器" >
            <el-input v-model="form1.url" placeholder="请输入过滤表达式"></el-input>
          </el-form-item>
          <el-divider></el-divider>
          <el-form-item label="列表时间选择器" prop="lContentSelector">
            <el-input v-model="form1.lContentSelector"></el-input>
          </el-form-item>
          <el-form-item label="列表时间获取的类型">
            <el-select v-model="form1.region" placeholder="请选择">
              <el-option label="属性获取" value="1"></el-option>
              <el-option label="文本获取" value="2"></el-option>
              <el-option label="html获取" value="3"></el-option>
              <el-option label="列表和详情都没有时间" value="4"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="列表时间对应的属性" >
            <el-input v-model="form1.url"></el-input>
          </el-form-item>
          <el-form-item label="列表时间过滤器类型">
            <el-select v-model="form1.region" placeholder="请选择">
              <el-option label="无" value="0"></el-option>
              <el-option label="内容替换" value="1"></el-option>
              <el-option label="正则表达式" value="2"></el-option>
              <el-option label="截取掉后面字符" value="3"></el-option>
              <el-option label="截取掉前面字符" value="4"></el-option>
              <el-option label="url参数格式化" value="5"></el-option>
              <el-option label="正则匹配替换" value="6"></el-option>
              <el-option label="时间戳转换为字符串" value="7"></el-option>
              <el-option label="列表爬取内容替换" value="8"></el-option>
              <el-option label="内容前面添加" value="9"></el-option>
              <el-option label="内容后面添加" value="10"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="列表时间过滤器" >
            <el-input v-model="form1.timeContentFilter"></el-input>
          </el-form-item>
          <!-- <el-form-item label="列表页面编码">
            <el-select v-model="form1.region" placeholder="请选择">
              <el-option label="UTF-8" value="UTF-8"></el-option>
              <el-option label="GB2312" value="GB2312"></el-option>
              <el-option label="GBK" value="GBK"></el-option>
            </el-select>
          </el-form-item> -->
        </el-form>
      </el-card>
      <br>
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span class="title">列表抓取结果</span>
          <el-button style="float: right; padding: 12px;width: 100px" size="medium">抓取列表</el-button>
          <el-button style="float: right; padding: 12px;width: 100px;margin-right: 15px;" size="medium">保 存</el-button>
        </div>
        <ul>
          <li class="list_result_li" v-for="(item, index) in listResult" :key="index">
            <div class="list_result">
              <p>索引：{{index+1}};urlId: {{item.urlId}};id: {{item.id}}</p>
              <p>标题：<a href="#" style="color:#409EFF">{{item.title}}</a></p>
              <p>时间：{{item.time}}</p>
            </div>
            <el-button style="float: right; padding: 12px;width: 100px;margin-top: 0.1rem;" size="medium">抓取页面</el-button>
          </li>
        </ul>
      </el-card>
    </el-col>
    <el-col :span="8">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span class="title">内容配置</span>
        </div>
        <!-- 表单 -->
        <el-form ref="form3" :model="form3" label-width="140px" :rules="rules2" size="medium">
          <el-form-item label="htmlUnit爬取" >
            <el-select v-model="form3.oper" placeholder="请选择">
              <el-option label="否" value="0"></el-option>
              <el-option label="是" value="1"></el-option>
              <el-option label="ajax" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Https ssL协议" >
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="SSLv3" value="SSLv3"></el-option>
              <el-option label="TLSv1" value="TLSv1"></el-option>
              <el-option label="TLSv1.2" value="TLSv1.2"></el-option>
              <el-option label="TLSv1.1" value="TLSv1.1"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="是否需要host">
            <el-radio-group v-model="form3.resource">
              <el-radio label="是" value="0"></el-radio>
              <el-radio label="否" value="1"></el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="返回数据类型">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="HTML" value="HTML"></el-option>
              <el-option label="JSON" value="JSON"></el-option>
              <el-option label="XML" value="XML"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="内容请求方式">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="GET" value="GET"></el-option>
              <el-option label="GETJSON" value="GETJSON"></el-option>
              <el-option label="GETIE" value="GETIE"></el-option>
              <el-option label="POST" value="POST"></el-option>
              <el-option label="XMLHttpRequest_POST" value="XMLHttpRequest_POST"></el-option>
            </el-select>
          </el-form-item>
          <el-divider></el-divider>
          <el-form-item label="桥接状态">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="否" value="0"></el-option>
              <el-option label="是" value="1"></el-option>
              <el-option label="部分桥接" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="桥接返回数据类型">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="HTML" value="HTML"></el-option>
              <el-option label="JSON" value="JSON"></el-option>
              <el-option label="XML" value="XML"></el-option>
              <el-option label="JSON_JSON" value="JSON_JSON"></el-option>
              <el-option label="DOWNLOAD_PDF" value="DOWNLOAD_PDF"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="桥接请求方式">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="GET" value="GET"></el-option>
              <el-option label="POST" value="POST"></el-option>
              <el-option label="XMLHttpRequest_POST" value="XMLHttpRequest_POST"></el-option>
            </el-select>
          </el-form-item>
          <!-- <el-form-item label="接内容页面编码">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="UTF-8" value="UTF-8"></el-option>
              <el-option label="GB2312" value="GB2312"></el-option>
              <el-option label="GBK" value="GBK"></el-option>
            </el-select>
          </el-form-item> -->
          <el-form-item label="桥接是否正则匹配">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="否" value="0"></el-option>
              <el-option label="是" value="1"></el-option>
              <el-option label="URL正则匹配" value="2"></el-option>
              <el-option label="相同url，获取上一次的cookie" value="3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="桥接正则表达式">
            <el-input v-model="form3.initVal" placeholder="请输入桥接正则表达式"></el-input>
          </el-form-item>
          <el-form-item label="桥接选择器">
            <el-input v-model="form3.initVal" placeholder="请输入桥接选择器"></el-input>
          </el-form-item>
          <el-form-item label="桥接过滤类型">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="无" value="0"></el-option>
              <el-option label="内容替换" value="1"></el-option>
              <el-option label="正则表达式" value="2"></el-option>
              <el-option label="截取掉后面字符" value="3"></el-option>
              <el-option label="截取掉前面字符" value="4"></el-option>
              <el-option label="url参数格式化" value="5"></el-option>
              <el-option label="正则匹配替换" value="6"></el-option>
              <el-option label="时间戳转换为字符串" value="7"></el-option>
              <el-option label="列表爬取内容替换" value="8"></el-option>
              <el-option label="内容前面添加" value="9"></el-option>
              <el-option label="内容后面添加" value="10"></el-option>
              <el-option label="自定义请求URL" value="18"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="桥接过滤器">
            <el-input v-model="form3.initVal" placeholder="请输入桥接过滤器"></el-input>
          </el-form-item>
          <el-divider></el-divider>
          <el-form-item label="桥接状态2">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="否" value="0"></el-option>
              <el-option label="是" value="1"></el-option>
              <el-option label="部分桥接" value="2"></el-option>
            </el-select>
          </el-form-item>
          <!-- <el-form-item label="接内容页面编码2">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="UTF-8" value="UTF-8"></el-option>
              <el-option label="GB2312" value="GB2312"></el-option>
              <el-option label="GBK" value="GBK"></el-option>
            </el-select>
          </el-form-item> -->
          <el-form-item label="桥接是否正则匹配2">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="否" value="0"></el-option>
              <el-option label="是" value="1"></el-option>
              <el-option label="URL正则匹配" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="桥接正则表达式2">
            <el-input v-model="form3.initVal" placeholder="请输入桥接正则表达式"></el-input>
          </el-form-item>
          <el-form-item label="桥接选择器2">
            <el-input v-model="form3.initVal" placeholder="请输入桥接选择器"></el-input>
          </el-form-item>
          <el-form-item label="桥接过滤类型2">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="无" value="0"></el-option>
              <el-option label="内容替换" value="1"></el-option>
              <el-option label="正则表达式" value="2"></el-option>
              <el-option label="截取掉后面字符" value="3"></el-option>
              <el-option label="截取掉前面字符" value="4"></el-option>
              <el-option label="url参数格式化" value="5"></el-option>
              <el-option label="正则匹配替换" value="6"></el-option>
              <el-option label="时间戳转换为字符串" value="7"></el-option>
              <el-option label="列表爬取内容替换" value="8"></el-option>
              <el-option label="内容前面添加" value="9"></el-option>
              <el-option label="内容后面添加" value="10"></el-option>
              <el-option label="自定义请求URL" value="18"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="桥接过滤器2">
            <el-input v-model="form3.initVal" placeholder="请输入桥接过滤器"></el-input>
          </el-form-item>
          <el-divider></el-divider>
          <el-form-item label="详情页面滤器类型">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="无" value="0"></el-option>
              <el-option label="内容替换" value="1"></el-option>
              <el-option label="正则表达式" value="2"></el-option>
              <el-option label="截取掉后面字符" value="3"></el-option>
              <el-option label="截取掉前面字符" value="4"></el-option>
              <el-option label="url参数格式化" value="5"></el-option>
              <el-option label="正则匹配替换" value="6"></el-option>
              <el-option label="时间戳转换为字符串" value="7"></el-option>
              <el-option label="列表爬取内容替换" value="8"></el-option>
              <el-option label="内容前面添加" value="9"></el-option>
              <el-option label="内容后面添加" value="10"></el-option>
              <el-option label="根据样式移除内容" value="17"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="详情页面滤器">
            <el-input v-model="form3.initVal" placeholder="请输入过滤表达式"></el-input>
          </el-form-item>
          <el-form-item label="详情页面滤器集合">
            <el-input type="textarea" rows="3" v-model="form2.desc" placeholder="形式[{...},{...}], “”换成英语双引号，格式 [{ type:“detailFilterType值”,filter:“detailFilter值” },{ type:“detailFilterType值”,filter:“detailFilter值”}]"></el-input>
          </el-form-item>
          <el-form-item label="详情页面UrlDecode">
            <el-input v-model="form3.initVal" placeholder="详情页面UrlDecode(@@隔开)"></el-input>
          </el-form-item>
          <el-form-item label="内容详情选择器">
            <el-input v-model="form3.initVal" placeholder="输入内容匹配选择器"></el-input>
          </el-form-item>
          <el-form-item label="标题选择器">
            <el-input v-model="form3.initVal" placeholder="输入标题匹配选择器"></el-input>
          </el-form-item>
          <el-form-item label="标题内容获取的类型">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="属性获取" value="1"></el-option>
              <el-option label="文本获取" value="2"></el-option>
              <el-option label="html获取" value="3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="内容标题过滤器类型">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="无" value="0"></el-option>
              <el-option label="内容替换" value="1"></el-option>
              <el-option label="正则表达式" value="2"></el-option>
              <el-option label="截取掉后面字符" value="3"></el-option>
              <el-option label="截取掉前面字符" value="4"></el-option>
              <el-option label="url参数格式化" value="5"></el-option>
              <el-option label="正则匹配替换" value="6"></el-option>
              <el-option label="时间戳转换为字符串" value="7"></el-option>
              <el-option label="列表爬取内容替换" value="8"></el-option>
              <el-option label="内容前面添加" value="9"></el-option>
              <el-option label="内容后面添加" value="10"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="内容标题过滤器">
            <el-input v-model="form3.initVal" placeholder="请输入过滤表达式"></el-input>
          </el-form-item>
          <el-form-item label="标题是否来源于列表">
            <el-radio-group v-model="form3.resource">
              <el-radio label="否" value="0"></el-radio>
              <el-radio label="是" value="1"></el-radio>
            </el-radio-group>
          </el-form-item>
          <el-divider></el-divider>
          <el-form-item label="内容时间选择器" prop="lContentSelector">
            <el-input v-model="form3.lContentSelector"></el-input>
          </el-form-item>
          <el-form-item label="内容时间获取的类型">
            <el-select v-model="form3.resource"  placeholder="请选择">
              <el-option label="属性获取" value="1"></el-option>
              <el-option label="文本获取" value="2"></el-option>
              <el-option label="html获取" value="3"></el-option>
              <el-option label="日期为3个input元素（年月日）" value="5"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="内容时间过滤器类型">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="无" value="0"></el-option>
              <el-option label="内容替换" value="1"></el-option>
              <el-option label="正则表达式" value="2"></el-option>
              <el-option label="截取掉后面字符" value="3"></el-option>
              <el-option label="截取掉前面字符" value="4"></el-option>
              <el-option label="url参数格式化" value="5"></el-option>
              <el-option label="正则匹配替换" value="6"></el-option>
              <el-option label="时间戳转换为字符串" value="7"></el-option>
              <el-option label="列表爬取内容替换" value="8"></el-option>
              <el-option label="内容前面添加" value="9"></el-option>
              <el-option label="内容后面添加" value="10"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="内容时间过滤器" prop="lContentSelector">
            <el-input v-model="form3.lContentSelector"></el-input>
          </el-form-item>
          <el-form-item label="附件根路径类型">
            <el-radio-group v-model="form3.resource">
              <el-radio label="否" value="0"></el-radio>
              <el-radio label="是" value="1"></el-radio>
            </el-radio-group>
          </el-form-item>
          <!-- <el-form-item label="内容页面编码">
            <el-select v-model="form3.region" placeholder="请选择">
              <el-option label="UTF-8" value="UTF-8"></el-option>
              <el-option label="GB2312" value="GB2312"></el-option>
              <el-option label="GBK" value="GBK"></el-option>
            </el-select>
          </el-form-item> -->
        </el-form>
      </el-card>
      <br>
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span class="title">页面抓取结果</span>
        </div>
        <div class="content-title">
          <div style="margin-bottom: 10px;">索引号： {{pageCaptureResults.index}}</div>
          <div style="margin-bottom: 10px;">发布时间： {{pageCaptureResults.time}}</div>
          <div style="margin-bottom: 10px;">标题：{{pageCaptureResults.title}}</div>
        </div>
        <div class="craw-page-content" v-html="contentHtml|unescape">
          
        </div>
        
      </el-card>
    </el-col>
    <el-col :span="8">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span class="title">分页配置</span>
        </div>
        <!-- 表单 -->
        <el-form ref="form2" :model="form2" label-width="140px" size="medium">
          <el-form-item label="分页url模板" >
            <el-input v-model="form2.timeContentFilter" placeholder="请输入分页url模板"></el-input>
          </el-form-item>
          <el-form-item label="详情页面url模板" >
            <el-input v-model="form2.timeContentFilter" placeholder="请输入详情页面url模板"></el-input>
          </el-form-item>
          <el-form-item label="分页请求方式">
            <el-select v-model="form2.region" placeholder="请选择">
              <el-option label="GET" value="GET"></el-option>
              <el-option label="POST" value="POST"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="分页最大页数" >
            <el-input v-model="form2.timeContentFilter" placeholder="请输入最大分页数"></el-input>
          </el-form-item>
          <el-form-item label="内容过滤器类型">
            <el-select v-model="form2.region" placeholder="请选择">
              <el-option label="无" value="0"></el-option>
              <el-option label="内容替换" value="1"></el-option>
              <el-option label="正则表达式" value="2"></el-option>
              <el-option label="截取掉后面字符" value="3"></el-option>
              <el-option label="截取掉前面字符" value="4"></el-option>
              <el-option label="url参数格式化" value="5"></el-option>
              <el-option label="正则匹配替换" value="6"></el-option>
              <el-option label="时间戳转换为字符串" value="7"></el-option>
              <el-option label="列表爬取内容替换" value="8"></el-option>
              <el-option label="内容前面添加" value="9"></el-option>
              <el-option label="内容后面添加" value="10"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="内容过滤器" >
            <el-input v-model="form2.timeContentFilter" placeholder="请输入过滤表达式"></el-input>
          </el-form-item>
          <el-form-item label="内容滤器集合">
            <el-input type="textarea" rows="3" v-model="form2.desc" placeholder="形式[{...},{...}], “”换成英语双引号，格式 [{ type:“contentType值”,filter:“contentFilter值” },{ type:“contentType值”,filter:“contentFilter值”}]"></el-input>
          </el-form-item>
          <el-form-item label="标题链接滤器集合">
            <el-input type="textarea" rows="3" v-model="form2.desc" placeholder="形式[{...},{...}], “”换成英语双引号，格式 [{ type:“过滤器类型”,filter:“linkFilters值” },{ type:“过滤器类型”,filter:“linkFilters值”}]"></el-input>
          </el-form-item>
          <el-form-item label="返回数据类型">
            <el-select v-model="form2.region" placeholder="请选择">
              <el-option label="HTML" value="HTML"></el-option>
              <el-option label="JSON" value="JSON"></el-option>
              <el-option label="APPLICATION_JSON" value="APPLICATION_JSON"></el-option>
              <el-option label="POST_JSON" value="POST_JSON"></el-option>
              <el-option label="JSON_JSON" value="JSON_JSON"></el-option>
              <el-option label="XML" value="XML"></el-option>
              <el-option label="PARAM_JSON_HTML" value="PARAM_JSON_HTML"></el-option>
              <el-option label="XMLHttpRequest_POST" value="XMLHttpRequest_POST"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="详细页面参数配置" >
            <el-input v-model="form2.timeContentFilter" placeholder="请输入详细页面参数配置"></el-input>
          </el-form-item>
          <el-divider></el-divider>
          <!-- 分页参数循环列表 -->
          <div v-for="(item, index) in form2.pageParameterList" :key="index">
            <el-form-item label="分页参数名称" >
              <el-input v-model="item.name" placeholder="请输入分页参数名称"></el-input>
            </el-form-item>
            <el-form-item label="分页参数类型">
              <el-select v-model="item.paramType" placeholder="请选择">
                <el-option label="数字" value="1"></el-option>
                <el-option label="文本" value="2"></el-option>
                <el-option label="当前日期(yyyy-MM-dd HH:mm:ss)" value="3"></el-option>
                <el-option label="JSON" value="4"></el-option>
                <el-option label="ONE_PARAM" value="5"></el-option>
                <el-option label="当前日期(yyyy-MM-dd)" value="6"></el-option>
                <el-option label="MAX_PAGE" value="7"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="分页初始值" >
              <el-input v-model="item.initVal" placeholder="请输入分页初始值"></el-input>
            </el-form-item>
            <el-form-item label="分页参数运算规则" >
              <el-select v-model="item.oper" placeholder="请选择">
                <el-option label="相加" value="1"></el-option>
                <el-option label="固定值" value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="分页运算变量" >
              <el-select v-model="item.interval" placeholder="请选择">
                <el-option label="相加" value="1"></el-option>
                <el-option label="固定值" value="2"></el-option>
              </el-select>
              <el-button @click.prevent="addDomain()" v-if="index==0" type="primary">新增</el-button>
              <el-button @click.prevent="removeDomain(index)" v-else type="danger">删除</el-button>
            </el-form-item>
            <el-divider></el-divider>
          </div>
        </el-form>
      </el-card>
    </el-col>
  </el-row>
  
</div>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/vue.min.js"> </script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  var app = new Vue({
        el: '#wrap',
        data: {
          rules: { 
              lContentSelector: [
                { required: true, message: '请填写列表内容选择器', trigger: 'change' }
              ], 
              lLinkSelector:[{ required: true, message: '请填写页面链接选择器', trigger: 'change' }
              ],
            },
            rules2: { 
              lContentSelector: [
                { required: true, message: '请填写列表内容选择器', trigger: 'change' }
              ], 
            },
            form1:{
              lContentSelector:'',
              lLinkSelector:"",
            },
            form2:{
              pageParameterList:[
                {
                  name:"",
                  paramType:"",
                  initVal:"",
                  oper:"",
                  interval:"",
                },
              ],
            },
            form3:{},
            listResult:[
              {
                urlId:"608520024029794304",
                id:"608520024029794300",
                title:"武乡县第二中学校教学楼及室外提质改造工程项目施工拦标价-建设工程-施工-公开招标",
                time:"2021-10-14 00:00:00",
              },
              {
                urlId:"608520024029794304",
                id:"608520024029794300",
                title:"武乡县第二中学校教学楼及室外提质改造工程项目施工拦标价-建设工程-施工-公开招标",
                time:"2021-10-14 00:00:00",
              },
              {
                urlId:"608520024029794304",
                id:"608520024029794300",
                title:"武乡县第二中学校教学楼及室外提质改造工程项目施工拦标价-建设工程-施工-公开招标",
                time:"2021-10-14 00:00:00",
              },
              {
                urlId:"608520024029794304",
                id:"608520024029794300",
                title:"武乡县第二中学校教学楼及室外提质改造工程项目施工拦标价-建设工程-施工-公开招标",
                time:"2021-10-14 00:00:00",
              },
            ],
            pageCaptureResults:{},
            // startUrl:"http://192.168.0.211:20003/api-RibbonManager/",
            startUrl:"http://118.31.11.63:9092/api/",
            contentHtml:""
           
        },
        filters: {
          unescape:function (html) {
              return html
              .replace(html ? /&(?!#?\w+;)/g : /&/g, '&amp;')
              .replace(/&lt;/g, "<")
              .replace(/&gt;/g, ">")
              .replace(/&quot;/g, "\"")
              .replace(/&#39;/g, "\'");
          }
        },
        watch:{
          checked: {
            handler(newVal, oldVal) {
              if (newVal==true) {
                this.ticker = setInterval(() => {
                  setTimeout(() => {
                  ///调取接口获取数据
                    this.logins()
                    this.queryList()
                  }, 0)
                }, this.number*1000)
              }else{
                clearInterval(this.ticker);
              }
            }
          },
          number:{
            handler(newVal, oldVal) {
              if (newVal!=oldVal) {
                this.checked=false;
              }
            }
          },

        },
        mounted() {
        },
        methods: {
          addDomain(){
            let that=this;
            that.form2.pageParameterList.push(
              {
                name:"",
                paramType:"",
                initVal:"",
                oper:"",
                interval:"",
              })
          },
          removeDomain(index){
            let that=this;
            that.form2.pageParameterList.splice(index, 1)

          },
            logins() {
              let that = this;
              $.post(that.startUrl + "youzhan/orderForm/youzan/tvBetakenPhone",{
                "distributorNumber":that.distributorNumber
              }, (data) => {
                  if (data.code != 200) {
                    that.$message.error("抱歉，网络异常！")
                  } else {
                    that.listCard=data.data
                  }
              });
            },
            savePhone(){
              let that = this;
                $.post(that.startUrl + "youzhan/orderForm/youzan/FindYouZhanStoreOrder",{
                  "distributorNumber":that.distributorNumber,
                  "phone":that.currentNumber
                }, (data) => {
                    if (data.code != 200) {
                      that.$message.error("抱歉，网络异常！")
                    } else {
                      that.phoneDialogVisible=false
                      if(data.data&&data.data.length==1){
                        that.play(data.data[0])
                      }else if(data.data&&data.data.length>1){
                        that.radio=""
                        that.pickUpOrder=data.data
                        that.centerDialogVisible=true
                      }else if(data.data.length==0){
                        this.$confirm('查询不到该手机尾号的订单, 是否强制播报?', '提示', {
                          confirmButtonText: '确定',
                          cancelButtonText: '取消',
                          type: 'warning'
                        }).then(() => {
                          let musicArr=['https://qinfuji.com/14430.mp3']
                          musicArr.push(this.startUrl+"pay/audio/"+that.currentNumber+".mp3")
                          playTest(0,musicArr)
                        }).catch(() => {
                                 
                        });
                      }
                    }        
              });

            },
            openDistributorNumber(){
              let that = this;
              $.post(that.startUrl + "youzhan/orderForm/youzan/FindYouZhanStores",{}, (data) => {
                  if (data.code != 200) {
                      that.$message(data.msg);
                  } else {
                      that.listData=data.data
                      that.chooseList=true;
                  }
              });
            },
           
            //保存
            saveData(){
              let that = this;
              if(!that.radio){
                that.$message.error("请选择一条数据！")
                return
              }
              for(let i=0;i<that.pickUpOrder.length;i++){
                if(that.pickUpOrder[i].ordSn==that.radio){
                  that.play(that.pickUpOrder[i])
                  that.centerDialogVisible=false
                }
              }

            },
           
        }
    })   
</script>
</body>
</html>